@page
@model PersonalDataModel
@{
  ViewData["Title"] = "Gestionar informacion personal";
  ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
  <div class="col-md-6">
    <p>Su cuenta contiene datos personales que usted nos ha facilitado. Esta página le permite descargar o eliminar esos datos.</p>
    <p>
      <strong>La eliminación de estos datos eliminará permanentemente su cuenta, y esto no se puede recuperar.</strong>
    </p>
    <div class="flex flex-">
      <form id="download-data" asp-page="DownloadPersonalData" method="post">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-file-arrow-down me-2"></i>Descargar</button>
      </form>
      <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Eliminar</a>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
