@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

@{
  ViewData["Title"] = "Inicio";

}

@if (SignInManager.IsSignedIn(User))
{
  var user = await UserManager.GetUserAsync(User);
  var roles = await UserManager.GetRolesAsync(user);
  var currentRole = roles.FirstOrDefault();

  <section class="row mb-5 pt-5" data-aos="fade-up">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-4">¡Bienvenido!</h1>
        <p class="lead">Usted tiene permisos de <span class="fw-bold text-primary">@currentRole</span></p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" width="720">
      </div>
    </div>
  </section>


}
else
{
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <h1 class="text-center fw-bold display-4"
        data-aos="fade-up"
        data-aos-duration="2000">
      Bienvenido <br>
      <span class="text-gradient">Plataforma para la gestión de prácticas profesionales en la UTP.</span>
    </h1>
  </div>

  <section class="row mb-5" data-aos="fade-up">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/images/svg/introduction.svg"
             class="d-block mx-lg-auto img-fluid"
             alt="Bootstrap Themes"
             width="700"
             height="500"
             loading="lazy" />
      </div>
      <div class="col-lg-6">
        <h2 class="display-5 fw-bold lh-1 mb-4">Introducción</h2>
        <p class="lead mb-4">
          Bienvenido a nuestra plataforma de gestión de prácticas profesionales. Conectamos a estudiantes talentosos con oportunidades en empresas destacadas de la región.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
          <a asp-area="Identity" asp-page="/Account/Register"
             class="btn btn-primary btn-lg px-4 me-md-2">
            <i class="fas fa-sign-in-alt me-1"></i>Iniciar sesion
          </a>
          <a asp-area="Identity" asp-page="/Account/Login"
             class="btn btn-outline-secondary btn-lg px-4">
            <i class="fas fa-user-edit me-1"></i>Registrase
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="row mb-5" data-aos="fade-up">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="~/images/carousel/carousel (1).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/carousel/carousel (2).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/carousel/carousel (3).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/carousel/carousel (4).jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="mb-5">
    <div class="row mb-4">
      <h2 class="text-center fw-bold display-4 text-gradient mb-4" data-aos="zoom-in-up">
        Beneficios
      </h2>
      <p class="mb-5" data-aos="zoom-in">
        Brindar a los estudiantes la oportunidad de acceder a un amplio abanico de oportunidades, simplifica el proceso de búsqueda y solicitud, facilita la comunicación con las organizaciones anfitrionas y fomenta su crecimiento y desarrollo profesional.
      </p>
    </div>

    <div class="row mb-4" data-aos="fade-right">
      <img src="~/images/svg/benefits.svg" alt="" class="col-lg-6 mb-4" />
      <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <h3 class="fw-bold mb-4">Acceso a una amplia gama de oportunidades</h3>
        <p class="mb-4">
          Los estudiantes tendrán acceso a una variedad de oportunidades de prácticas profesionales ofrecidas por diversas organizaciones en la región de Puebla. Esto les brindará una amplia selección para elegir y les permitirá explorar diferentes campos y sectores.
        </p>
      </div>
    </div>

    <div class="row mb-4" data-aos="fade-left">
      <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <h3 class="fw-bold mb-4">Simplificación del proceso de búsqueda y solicitud</h3>
        <p class="mb-4">
          La plataforma facilitará la búsqueda de prácticas relevantes mediante filtros personalizados, lo que ahorrará tiempo y esfuerzo a los estudiantes. Además, podrán enviar sus solicitudes directamente a través de la plataforma, eliminando la necesidad de enviar solicitudes físicas o por correo electrónico.
        </p>
      </div>
      <img src="~/images/svg/search.svg" alt="" class="col-lg-6 mb-4" />
    </div>

    <div class="row mb-4" data-aos="fade-right">
      <img src="~/images/svg/simplification.svg" alt="" class="col-lg-6 mb-4" />
      <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <h3 class="fw-bold mb-4">Visibilidad y conexiones con empresas destacadas</h3>
        <p class="mb-4">
          Al utilizar la plataforma, los estudiantes tendrán la oportunidad de conectarse con empresas reconocidas en el ámbito profesional y establecer contactos valiosos para su futura carrera. Esto les permitirá ampliar su red de contactos y aumentar sus posibilidades de empleo.
        </p>
      </div>
    </div>

    <div class="row mb-4" data-aos="fade-left">
      <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <h3 class="fw-bold mb-4">Retroalimentación y mejora profesional</h3>
        <p class="mb-4">
          Los estudiantes podrán recibir retroalimentación de las organizaciones anfitrionas sobre su desempeño durante la práctica. Esto les permitirá identificar áreas de mejora y desarrollar sus habilidades profesionales de acuerdo con las expectativas del campo laboral.
        </p>
      </div>
      <img src="~/images/svg/feedback.svg" alt="" class="col-lg-6 mb-4" />
    </div>
  </section>

  <section id="mailbox" class="row mb-3">
    <h2 class="text-center fw-bold display-4 text-gradient mb-4" data-aos="zoom-in-up">Buzón</h2>
    <div class="col-lg-6" data-aos="fade-right">
      <form action="#" id="form-mailbox">
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 id="subject"
                 name="subject"
                 placeholder="name@example.com"
                 required />
          <label for="subject">Asunto</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="email"
                 required />
          <label for="email">Correo electronico</label>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control"
                    placeholder="Aquí va tu comentario"
                    id="comment"
                    required></textarea>
          <label for="comment">Comentarios</label>
        </div>

        <button class="btn btn-primary">
          <i class="fas fa-paper-plane me-1"></i>Enviar
        </button>

        <button class="btn btn-outline-secondary" type="reset">
          <i class="fas fa-trash me-1"></i>Limpiar
        </button>
      </form>
    </div>
    <div class="col-lg-6" data-aos="fade-left">
      <img class="img-fluid" src="~/images/svg/mail.svg" alt="" />
    </div>
  </section>
}