@{
  ViewData["Title"] = "Políticas de Privacidad";
}

<h1>@ViewData["Title"]</h1>
<p>En la plataforma de <span class="text-primary">Gestión de prácticas profesionales en la UTP</span>, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal de los usuarios que utilizan nuestra plataforma de gestión de prácticas profesionales. Al utilizar nuestra plataforma, aceptas y consientes las prácticas descritas en esta política.</p>

<h2>Recopilación de información</h2>
<ol>
  <li><b>Información personal</b>: Recopilamos información personal como nombres, direcciones de correo electrónico, información de contacto, historial académico y otra información relevante necesaria para facilitar el proceso de gestión de prácticas profesionales.</li>

  <li><b>Información de uso</b>: Podemos recopilar información sobre cómo los usuarios interactúan con nuestra plataforma, incluyendo datos de registro, direcciones IP, información del dispositivo y otros datos de uso recopilados mediante cookies u otras tecnologías similares.</li>
</ol>

<h2>Uso de la información</h2>
<ol>
  <li><b>Mejora de la plataforma</b>: Utilizamos la información recopilada para mejorar y personalizar la experiencia de los usuarios en nuestra plataforma, así como para desarrollar y ofrecer nuevos servicios y funcionalidades.</li>
  <li><b>Comunicación</b>: Podemos utilizar la información de contacto proporcionada para enviar comunicaciones relacionadas con la plataforma, como actualizaciones, noticias y notificaciones sobre prácticas profesionales.</li>
  <li><b>Cumplimiento de requisitos legales</b>: Podemos divulgar información personal cuando sea requerido por la ley o para cumplir con procesos legales, solicitudes gubernamentales o proteger nuestros derechos legales.</li>
</ol>

<h2>Protección de la información</h2>
<ol>
  <li><b>Seguridad de datos</b>: Implementamos medidas de seguridad para proteger la información personal de los usuarios contra el acceso no autorizado, la divulgación o la alteración. Sin embargo, no podemos garantizar la seguridad absoluta de la información transmitida a través de internet.</li>
  <li><b>Terceros</b>: Podemos compartir información con proveedores de servicios de confianza que nos ayuden a operar y mantener la plataforma, siempre bajo acuerdos de confidencialidad y cumpliendo con los requisitos legales aplicables.</li>
</ol>

<h2>Derechos del usuario</h2>
<p>Los usuarios tienen derechos para acceder, corregir y eliminar su información personal. Si deseas ejercer alguno de estos derechos, por favor, contáctanos utilizando la información proporcionada al final de esta política.</p>

<h2>Cambios en la política de privacidad</h2>
<p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en nuestra plataforma y se aplicará a partir de la fecha de publicación.</p>

<h2>Contacto</h2>
<p>Si tienes preguntas o inquietudes relacionadas con nuestra política de privacidad, puedes comunicarte con nosotros a través de [correo electrónico de contacto] o [número de teléfono].</p>

